<div id="header">
  <h1>Other Treats</h1>
</div>
<div id="content">
  Here at Sinful Pastries we understand that cake or cupcakes may not be what makes you drool, so we offer a wide variety of baked good and treats. We also offer holiday platters that include a variety
  of items. <br/> <br/> Below is a list of some of the additional items we offer:

  <ul>
    <li>Fruit Bouquets </li>
    <li>Chocolate Shapes </li>
    <li>Cookie & Cream Balls </li>
    <li>Cookie Dough Squares</li>
    <li>Grasshopper Squares</li>
    <li>Fudge</li>
    <li>Brookies</li>
    <li>Hot Cocoa Bombs</li>
    <li>Smores Bark</li>
    <li>Coconut & Almond Bark</li>
    <li>Holiday Popcorn </li>
    <li>A variety of covered pretzels</li>
  </ul>

  <div class="row" style="display:none;">
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
    </div>
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
    </div>
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
    </div>
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
    </div>
  </div>
</div>
