<div id="header">
  <h1>Cupcakes</h1>
</div>
<div id="content">
    The most requested type of cupcake is our Deluxe Cupcakes.We also offer the "go to" Chocolate and Vanilla Cupcakes. Cupcakes can
    ordered by the dozen, a dozen can include two flavors. <br/><br/> Our most popular combination is listed below however you can request any flavor
    that you would like.

    <ul>
      <li>Cookies & Cream</li>
      <li>Twix</li>
      <li>Chocolate Covered Strawberry </li>
      <li>Peanut Butter Cup </li>
      <li>Triple Chocolate </li>
    </ul>

  Additional cupcake flavors available:
  <ul>
    <li>Butterfinger</li>
    <li>Caramel Macchiato</li>
    <li>Cereal (many variations)</li>
    <li>Dirt Cup</li>
    <li>Grasshopper</li>
    <li>Hazelnut Chocolate Espresso</li>
    <li>Hot Cocoa </li>
    <li>Lemon Berry</li>
    <li>Lemon Lover</li>
    <li>Mint Fudge Brownie</li>
    <li>Monster Cookie</li>
    <li>Scotcheroo</li>
  </ul>

  Adult Only Cupcakes:
  <ul>
    <li> Prairie Fire </li>
    <li> Fireball </li>
    <li> Apple Pie </li>
    <li> Lemon Drop </li>
  </ul>

  <div class="row" style="display: none;">
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/cc2.jpg">
      <img src="img/cc3.JPG">
      <img src="img/cc4.JPG">
      <img src="img/Comingsoon.jpeg">
    </div>
    <div class="column">
      <img src="img/cc5.jpeg">
      <img src="img/cc6.jpeg">
      <img src="img/cc7.jpeg">
      <img src="img/cc8.jpeg">
      <img src="img/combo.jpeg">
    </div>
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
    </div>
    <div class="column">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
      <img src="img/Comingsoon.jpeg">
    </div>
  </div>
</div>
